extends layout
block content
	h1= title
	p
		button(onclick="move('')") Index Page
	p
		button(onclick="move('uploadByKey')") UploadByKey Page
	form(method="post" encType="multipart/form-data" action="/upload")
		input(type="file" name="filename")
		input(type="submit" name="upload")
	script.
		console.log('#{title}');
		if ('#{title}' === 'Express') {
			alert("working");
		}
	if condition
		ul
			each value in data
				li=value['id']+" "+value['ktype']+" "+value['key']
